@import '../../styles/mixins';

.article-article-form {
  border-left: 1px solid #dcdcdc;
  min-height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
  .article-article-form-button {
    margin-top: 1rem;
  }
}
